//- .component-name
//- .component-name--variant
//- .component-name__sub-object
//- .component-name__sub-object--variant 

extends pug/page-templates/tpl_master.pug

block title
	title Feria El Bosque Emprende

block contenido
	.container-lg
		.row
			.col.mt-5.text-center.mb-2
				.emprende-title.mt-2.mb-2.mb-md-1
					|Descubre los proyectos de nuestros emprendedores
				.emprende-lead
					|La Feria El Bosque Emprende Impulsa el talento de nuestros egresados
		.row.justify-content-center.mt-4
			.col-lg-5.col-sm-4.mb-4.mb-md-0.flag
				.card.border-0
					a.position-relative.img-card.text-center(href="/productos.html")
						img(src="/assets/images/cat-productos.png" class="img-fluid rounded-3")
					.body-card.text-center.pb-3
						a(class="btn btn-card-border stretched-link" href="/productos.html") Productos
			.col-lg-5.col-sm-4
				.card.border-0
					a.position-relative.img-card.text-center(href="/servicios.html")
						img(src="/assets/images/cat-servicios.png" class="img-fluid rounded-3")
					.body-card.text-center.pb-3
						a(class="btn btn-card-border stretched-link" href="/servicios.html") Servicios
		.row.justify-content-center.mt-3.mt-md-5
			.col-lg-5.col-md-4
				.emprende-subtitle.mt-2.pb-3.border-bottom
					|La Feria El Bosque emprende destaca el impacto de nuestros emprendedores Egresados

			.col-lg-5.col-md-4
				.emprende-lead.mt-2
					|Este es un espacio en el cual nuestros graduados emprendedores pueden dar a conocer sus proyectos a los miembros de la comunidad El Bosque, generando un espacio de networking, intercambio de experiencias y alianzas entre los participantes.

		.row.justify-content-center.mt-1.mb-5
			.col-lg-5.col-md-4
				.emprende-subtitle.text-start.pt-2.text-gray
					|Cuando?
				.emprende-lead.mt-2.text-secondary
					|Noviembre 25 al 27, 2021

			.col-lg-5.col-md-4
				.emprende-subtitle.text-start.pt-2.text-gray
					|Dónde?
				.emprende-lead.mt-2.text-secondary.pb-md-3
					|1 - Presencial Universidad El Bosque<br>2 - Canales dedicados para evento virtual

	
















	

















			






















	

			



	

			

	