header.pb-6.bg-primary-gradient
	nav.navbar.p-0
		.container-lg
			a.navbar-brand.p-0(href="/")
				picture
					source(media="(min-width: 575.98px)" srcset="/assets/images/Logo-UEB.svg")
					source(media="(max-width: 576px)" srcset="/assets/images/logo-ueb-responsive.svg")
					img(src="/assets/images/Logo-UEB.svg" alt="Logo Universidad El Bosque" class="img-fluid m-auto" loading="lazy")
			.d-flex.mt-1.mt-sm-0
				.dropdown.dropdown-border
					a#dropdownMenuLink.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
						| Emprendimientos
					ul.dropdown-menu(aria-labelledby='dropdownMenuLink')
						li
							a.dropdown-item(href='/productos.html') Productos
						li
							a.dropdown-item(href='/servicios.html') Servicios
	// /nav
// /header

				





