
// -----------------------------------------------------------------------------
// This file contains custom scss homepage.
// -----------------------------------------------------------------------------

.bg-hero{
	position: relative;
	background: url(/assets/images/shutterstock_411354685.webp);
	background-size: cover;
	background-position: center center;
	z-index: 0;
	&::after{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
		top:0;
		left: 0;
		background: rgba(0,0,0,.2);
	}
}
.bg-banner-productos{
	margin-top: -11px;
	position: relative;
	background: url(/assets/images/banner-productos.png);
	background-size: cover;
	background-position: center center;
	z-index: -1;
	&::after{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
		top:0;
		left: 0;
		background: rgba(0,0,0,.2);
	}
	h1{
		text-transform: uppercase;
		letter-spacing: 3px;
	}
}
.bg-banner-alimentos{
	margin-top: -11px;
	position: relative;
	background: url(/assets/images/banner-alimentos.png);
	background-size: cover;
	background-position: center center;
	z-index: -1;
	&::after{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
		top:0;
		left: 0;
		background: rgba(0,0,0,.2);
	}
	h1{
		text-transform: uppercase;
		letter-spacing: 3px;
	}
}
.bg-banner-servicios{
	margin-top: -11px;
	position: relative;
	background: url(/assets/images/banner-servicios.png);
	background-size: cover;
	background-position: center center;
	z-index: -1;
	&::after{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
		top:0;
		left: 0;
		background: rgba(0,0,0,.2);
	}
	h1{
		text-transform: uppercase;
		letter-spacing: 3px;
	}
}
.grid-productos{
	@include color-desborde(var(--bs-primary-light))
}
.body-hero{
	z-index: 2;
	img{
		@media (min-width: $break-xxl) {
			margin-top: -3rem;
		}
		@media (min-width: $break-md) {
			margin-top: -4.5rem;
		}
		@media (max-width: $break-md) {
			margin-top:1rem;
		}

	}
}
.hero-date{
	color: white;
}
.emprende{
	&-title{
		font-size: $size-30;
		color:var(--bs-secondary);
		font-weight: 600;
		line-height: 1.2;
		@media (max-width: $break-md) {
			font-size: $size-26;
			line-height: 1.1;
		}
		span{
			color:var(--bs-primary);
		}
	}
	&-subtitle{
		font-size: $size-30;
		color:var(--bs-secondary);
			line-height: 1.3;
		@media (max-width: $break-md) {
			font-size: $size-26;
			line-height: 1.1;
		}
	}
	&-lead{
		color: var(--bs-gray);
	}
	&-body-banner{
		font-size: $size-24;
		color:var(--bs-white);
		line-height: 1.3;
		font-weight: 400;
		@media (max-width: $break-md) {
			font-size: $size-20;
			line-height: 1.1;
		}
	}
	&-col-banner{
		background: url(/assets/images/generacion_net.jpg);
	 	background-size: cover;
	 	background-position-y: center;
	 	min-height: 40vh;
	}
}
//.flag{
//	position: relative;
//	&::before{
//		content: url(/assets/images/flag.svg);
//		position: absolute;
//		z-index: 2;
//		right: -6rem;
//		top: -3.5rem	;
//
//	}
//}
.img-card{
	//overflow: hidden;
	//img{
	//    transition: transform .2s;
	//	&:hover{
	//		transform: scale(1.1);
	//	}
	//}
}
.banner{

}
.card{
	&-img{
		border-bottom:1px solid var(--bs-primary-light);
	}
	&-title{
		font-size: $size-24;
		color:var(--bs-secondary-dark);
		line-height: 1.1;
		margin-top: 1.5rem;
	}
	&-resumen{
		font-size: $size-16;
		line-height: 1.2;
		color: var(--bs-gray);
		font-weight: 300;
		padding-bottom: 1rem;
	}
	&-name{
		font-size: $size-20;
		color:var(--bs-secondary);
		line-height: 1;
		padding-left: 2rem;
		position: relative;
		&::before{
			content: url(/assets/images/icon_profile.svg);
				position: absolute;
				top: -3px;
				left: 0;
		}
	}
	&-phone{
		font-size: $size-20;
		color:var(--bs-secondary);
		line-height: 1;
		position: relative;
		padding-left: 2rem;
		&::before{
			content: url(/assets/images/icon_phone.svg);
				position: absolute;
				top: 2px;
				left: 0;
		}
	}
	&-web{
		position: relative;
		padding-left: 2rem;
		min-height: 1.5rem;
		a{
			font-size: $size-20;
			color:var(--bs-secondary) !important;
				text-decoration: underline;
			&:hover{
				opacity: 0.8;
			}
		}
		&::before{
			content: url(/assets/images/icon_web.svg);
				position: absolute;
				top: 6px;
				left: 0;
		}
	}
}